.main-container {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.book-list-container {
  border: solid 1px lightgrey;
  border-radius: 3px;
  margin-top: 32px;
  margin-right: 15px;
  float: inline-start;
  min-height: 200px;
  width: 300px;
}

.list-group-item {
  cursor: pointer;
}

.book-form-container {
  display: inline-block;
  width: 300px;
}

.save-new-btn {
  margin-top: 15px;
}

.save-delete-btn {
  margin-top: 15px;
  margin-left: 15px;
}